* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
}
.editor {
  padding: 2em;
  width: 30%;
}

.editor > h1 {
  text-align: center;
}

.resume-container {
  flex: 1;
  /* background-color: aquamarine; */
  padding: 2em;
  border-left: 1px solid black;
}

.resume {
  background-color: white;
  padding: 2.5em 1em;
  width: 794px;
  margin: 0 auto;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 1123px;
}

.contacts > ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.others > ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.name {
  text-align: center;
  font-size: 2.5em;
  /* padding: 0.5em; */
}
.header {
  display: flex;
  justify-content: space-between;
}
.header > .expansion {
  border: 1px solid black;
  display: flex;
  align-items: center;
  width: 45px;
  justify-content: center;
  border-radius: 10px;

  transition: background-color 0.3s ease-out 0s;
}

.header > .expansion:hover {
  background-color: black;
  color: white;
  transform: rotate(180deg);
}

.editor > main {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.editor > main > div > button {
  padding: 0.4em 1.5em;
  background-color: white;
  border-radius: 5px;
}
